In [1]:
import json
import yaml
import requests
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

### **Extract Data**

In [2]:
file_name = 'Titanic-Dataset.csv'

In [3]:
dataset = pd.read_csv(file_name)

In [4]:
dataset.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [5]:
dataset.shape

(891, 12)

In [6]:
dataset.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [7]:
dataset.set_index('PassengerId', inplace=True)
dataset.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [8]:
dataset.drop(columns=['Name', 'Ticket', 'Cabin', 'Age'], inplace=True) #dropping unneeded variables (age because NaNs)

In [9]:
from sklearn.preprocessing import OrdinalEncoder

#Extract categorical columns from the dataframe
#Here we extract the columns with object datatype as they are the categorical columns
categorical_columns = dataset.select_dtypes(include=['object']).columns.tolist()

#Initialize OrdinalEncoder
ord_enc = OrdinalEncoder()

# Apply ordinal encoding to the categorical columns
ord_encoded = ord_enc.fit_transform(dataset[categorical_columns])

dataset[categorical_columns] = ord_encoded

In [10]:
dataset.dropna(inplace=True)

In [11]:
dataset.shape

(889, 7)

In [12]:
target_col = dataset.columns[0]
target_col

'Survived'

In [13]:
train_size = 0.8
train_points = int(train_size*len(dataset))
train_df = dataset.iloc[:train_points]
test_df = dataset.iloc[train_points:]

In [14]:
train_points = int(train_size*len(train_df)) #further split train dataset to train and calibration
cal_df = train_df.iloc[train_points:]
train_df = train_df.iloc[:train_points]

In [15]:
df_dict = {'train': train_df, 'calibration': cal_df, 'test': test_df}
for key, value in df_dict.items():
    print(f'{key} dataframe shape: {value.shape}')

train dataframe shape: (568, 7)
calibration dataframe shape: (143, 7)
test dataframe shape: (178, 7)

In [16]:
X_train = train_df.iloc[:, 1:]
y_train = train_df.loc[:, target_col]
X_cal = cal_df.iloc[:, 1:]
y_cal = cal_df.loc[:, target_col]
X_test = test_df.iloc[:, 1:]
y_test = test_df.loc[:, target_col]

In [17]:
X_train

             Pclass  Sex  SibSp  Parch     Fare  Embarked
PassengerId
1                 3  1.0      1      0   7.2500       2.0
2                 1  0.0      1      0  71.2833       0.0
3                 3  0.0      0      0   7.9250       2.0
4                 1  0.0      1      0  53.1000       2.0
5                 3  1.0      0      0   8.0500       2.0
...             ...  ...    ...    ...      ...       ...
565               3  0.0      0      0   8.0500       2.0
566               3  1.0      2      0  24.1500       2.0
567               3  1.0      0      0   7.8958       2.0
568               3  0.0      0      4  21.0750       2.0
569               3  1.0      0      0   7.2292       0.0

[568 rows x 6 columns]

### **Base model fitting (prior to fit mauq)**

In [18]:
from sklearn.linear_model import LogisticRegression

clf = LogisticRegression(random_state=0).fit(X_train, y_train)

In [19]:
y_train

PassengerId
1      0
2      1
3      1
4      1
5      0
      ..
565    0
566    0
567    0
568    0
569    0
Name: Survived, Length: 568, dtype: int64

In [20]:
clf.score(X_test, y_test)

0.8146067415730337

In [21]:
y_pred_cal_smx = clf.predict_proba(X_cal)
y_pred_test_smx = clf.predict_proba(X_test)
y_pred_cal_label = clf.predict(X_cal)
y_pred_test_label = clf.predict(X_test)
y_pred_cal_smx

array([[0.88575428, 0.11424572],
       [0.7909665 , 0.2090335 ],
       [0.18871182, 0.81128818],
       [0.65208283, 0.34791717],
       [0.3195544 , 0.6804456 ],
       [0.88577638, 0.11422362],
       [0.88650242, 0.11349758],
       [0.21908685, 0.78091315],
       [0.15466889, 0.84533111],
       [0.33123361, 0.66876639],
       [0.88576227, 0.11423773],
       [0.24582578, 0.75417422],
       [0.10437475, 0.89562525],
       [0.79381123, 0.20618877],
       [0.56095555, 0.43904445],
       [0.8389658 , 0.1610342 ],
       [0.10481806, 0.89518194],
       [0.79179535, 0.20820465],
       [0.60340291, 0.39659709],
       [0.88577638, 0.11422362],
       [0.88577638, 0.11422362],
       [0.88567193, 0.11432807],
       [0.11185012, 0.88814988],
       [0.88568605, 0.11431395],
       [0.27215734, 0.72784266],
       [0.83104129, 0.16895871],
       [0.90000659, 0.09999341],
       [0.22292823, 0.77707177],
       [0.88486457, 0.11513543],
       [0.83874147, 0.16125853],
       [0.62451575, 0.37548425],
       [0.29330715, 0.70669285],
       [0.88575898, 0.11424102],
       [0.65612463, 0.34387537],
       [0.88577638, 0.11422362],
       [0.55722222, 0.44277778],
       [0.90901321, 0.09098679],
       [0.88575898, 0.11424102],
       [0.65312301, 0.34687699],
       [0.16513365, 0.83486635],
       [0.13769498, 0.86230502],
       [0.29837091, 0.70162909],
       [0.88566346, 0.11433654],
       [0.37702319, 0.62297681],
       [0.8639774 , 0.1360226 ],
       [0.88577638, 0.11422362],
       [0.23220631, 0.76779369],
       [0.8990234 , 0.1009766 ],
       [0.4249985 , 0.5750015 ],
       [0.2960898 , 0.7039102 ],
       [0.7909665 , 0.2090335 ],
       [0.87010985, 0.12989015],
       [0.71143659, 0.28856341],
       [0.85685673, 0.14314327],
       [0.88575428, 0.11424572],
       [0.8866819 , 0.1133181 ],
       [0.65358308, 0.34641692],
       [0.75649875, 0.24350125],
       [0.127995  , 0.872005  ],
       [0.88575898, 0.11424102],
       [0.86397521, 0.13602479],
       [0.65299662, 0.34700338],
       [0.88566393, 0.11433607],
       [0.55830922, 0.44169078],
       [0.64537441, 0.35462559],
       [0.49323452, 0.50676548],
       [0.21908685, 0.78091315],
       [0.88576227, 0.11423773],
       [0.81447618, 0.18552382],
       [0.2514952 , 0.7485048 ],
       [0.90906395, 0.09093605],
       [0.88575428, 0.11424572],
       [0.08891495, 0.91108505],
       [0.49323452, 0.50676548],
       [0.89113184, 0.10886816],
       [0.36210801, 0.63789199],
       [0.6296813 , 0.3703187 ],
       [0.88575898, 0.11424102],
       [0.55968436, 0.44031564],
       [0.88571993, 0.11428007],
       [0.36428883, 0.63571117],
       [0.88575898, 0.11424102],
       [0.2020096 , 0.7979904 ],
       [0.88581964, 0.11418036],
       [0.31957361, 0.68042639],
       [0.31931187, 0.68068813],
       [0.86886834, 0.13113166],
       [0.88575898, 0.11424102],
       [0.35065879, 0.64934121],
       [0.79142727, 0.20857273],
       [0.52467152, 0.47532848],
       [0.77518383, 0.22481617],
       [0.83874147, 0.16125853],
       [0.65188032, 0.34811968],
       [0.88571381, 0.11428619],
       [0.90830718, 0.09169282],
       [0.86886834, 0.13113166],
       [0.79142727, 0.20857273],
       [0.88574534, 0.11425466],
       [0.88577638, 0.11422362],
       [0.15410087, 0.84589913],
       [0.24769205, 0.75230795],
       [0.71130964, 0.28869036],
       [0.7909665 , 0.2090335 ],
       [0.79142727, 0.20857273],
       [0.78902307, 0.21097693],
       [0.88574534, 0.11425466],
       [0.88577638, 0.11422362],
       [0.36488113, 0.63511887],
       [0.27856765, 0.72143235],
       [0.65879107, 0.34120893],
       [0.31964841, 0.68035159],
       [0.57098678, 0.42901322],
       [0.88590895, 0.11409105],
       [0.95642099, 0.04357901],
       [0.81661596, 0.18338404],
       [0.72790701, 0.27209299],
       [0.95024206, 0.04975794],
       [0.88601555, 0.11398445],
       [0.88574769, 0.11425231],
       [0.13193672, 0.86806328],
       [0.71245377, 0.28754623],
       [0.25679638, 0.74320362],
       [0.89113184, 0.10886816],
       [0.83874147, 0.16125853],
       [0.65212396, 0.34787604],
       [0.79151934, 0.20848066],
       [0.88577638, 0.11422362],
       [0.31955035, 0.68044965],
       [0.61183012, 0.38816988],
       [0.88573122, 0.11426878],
       [0.1294916 , 0.8705084 ],
       [0.65205752, 0.34794248],
       [0.25701735, 0.74298265],
       [0.86397631, 0.13602369],
       [0.9083006 , 0.0916994 ],
       [0.79381123, 0.20618877],
       [0.2191823 , 0.7808177 ],
       [0.65205752, 0.34794248],
       [0.13744184, 0.86255816],
       [0.85678886, 0.14321114],
       [0.08714202, 0.91285798],
       [0.65212396, 0.34787604]])

In [22]:
#data input calibration set
input = pd.concat([X_cal, pd.DataFrame(y_cal)], axis=1)
input['y_pred_prob'] = y_pred_cal_smx.tolist()
# input['y_pred_label'] = y_pred_cal_label
input

,Pclass,Sex,SibSp,Parch,Fare,Embarked,Survived,y_pred_prob
PassengerId,,,,,,,,
570,3,1.0,0,0,7.8542,2.0,1,"[0.8857542796216131, 0.11424572037838686]"
571,2,1.0,0,0,10.5000,2.0,1,"[0.7909664966973815, 0.2090335033026185]"
572,1,0.0,2,0,51.4792,2.0,1,"[0.18871181522808167, 0.8112881847719183]"
573,1,1.0,0,0,26.3875,2.0,1,"[0.652082834229065, 0.34791716577093507]"
574,3,0.0,0,0,7.7500,1.0,1,"[0.31955440192257967, 0.6804455980774203]"
...,...,...,...,...,...,...,...,...
708,1,1.0,0,0,26.2875,2.0,1,"[0.652057523057296, 0.3479424769427039]"
709,1,0.0,0,0,151.5500,2.0,1,"[0.13744183874626748, 0.8625581612537325]"
710,3,1.0,1,1,15.2458,0.0,1,"[0.856788858593684, 0.14321114140631594]"
711,1,0.0,0,0,49.5042,0.0,1,"[0.08714202439502572, 0.9128579756049743]"
712,1,1.0,0,0,26.5500,2.0,0,"[0.6521239630512715, 0.3478760369487285]"

In [23]:
#data input test set (optional)
input_test = pd.concat([X_test, pd.DataFrame(y_test)], axis=1)
input_test['y_pred_prob'] = y_pred_test_smx.tolist()
# input_test['y_pred_label'] = y_pred_test_label.tolist() 
input_test

,Pclass,Sex,SibSp,Parch,Fare,Embarked,Survived,y_pred_prob
PassengerId,,,,,,,,
713,1,1.0,1,0,52.0000,2.0,1,"[0.7113096444622864, 0.2886903555377136]"
714,3,1.0,0,0,9.4833,2.0,0,"[0.8859380699703069, 0.11406193002969314]"
715,2,1.0,0,0,13.0000,2.0,0,"[0.7914272703832793, 0.20857272961672066]"
716,3,1.0,0,0,7.6500,2.0,0,"[0.8857312241844413, 0.11426877581555873]"
717,1,0.0,0,0,227.5250,0.0,1,"[0.10429077383409846, 0.8957092261659015]"
...,...,...,...,...,...,...,...,...
887,2,1.0,0,0,13.0000,2.0,0,"[0.7914272703832793, 0.20857272961672066]"
888,1,0.0,0,0,30.0000,2.0,1,"[0.12214115086618038, 0.8778588491338196]"
889,3,0.0,1,2,23.4500,2.0,0,"[0.37239141711679713, 0.6276085828832029]"
890,1,1.0,0,0,30.0000,0.0,1,"[0.558171651813739, 0.4418283481862611]"
891,3,1.0,0,0,7.7500,1.0,0,"[0.8639774009579275, 0.13602259904207248]"

In [24]:
#data input train set (optional)
#train_df

In [25]:
y_pred_cal_smx[np.arange(143), input[target_col].values]

array([0.11424572, 0.2090335 , 0.81128818, 0.34791717, 0.6804456 ,
       0.88577638, 0.88650242, 0.78091315, 0.84533111, 0.33123361,
       0.11423773, 0.75417422, 0.89562525, 0.79381123, 0.56095555,
       0.8389658 , 0.89518194, 0.79179535, 0.39659709, 0.88577638,
       0.88577638, 0.88567193, 0.88814988, 0.88568605, 0.27215734,
       0.83104129, 0.90000659, 0.77707177, 0.88486457, 0.83874147,
       0.37548425, 0.70669285, 0.88575898, 0.65612463, 0.88577638,
       0.44277778, 0.90901321, 0.88575898, 0.34687699, 0.83486635,
       0.86230502, 0.29837091, 0.88566346, 0.62297681, 0.8639774 ,
       0.88577638, 0.76779369, 0.8990234 , 0.4249985 , 0.7039102 ,
       0.7909665 , 0.87010985, 0.28856341, 0.14314327, 0.88575428,
       0.8866819 , 0.65358308, 0.75649875, 0.872005  , 0.88575898,
       0.86397521, 0.34700338, 0.88566393, 0.44169078, 0.64537441,
       0.49323452, 0.78091315, 0.88576227, 0.81447618, 0.2514952 ,
       0.90906395, 0.88575428, 0.91108505, 0.49323452, 0.10886816,
       0.63789199, 0.3703187 , 0.88575898, 0.44031564, 0.88571993,
       0.63571117, 0.88575898, 0.7979904 , 0.88581964, 0.68042639,
       0.31931187, 0.86886834, 0.88575898, 0.35065879, 0.79142727,
       0.52467152, 0.22481617, 0.83874147, 0.65188032, 0.88571381,
       0.09169282, 0.86886834, 0.79142727, 0.88574534, 0.88577638,
       0.84589913, 0.75230795, 0.71130964, 0.7909665 , 0.20857273,
       0.78902307, 0.88574534, 0.88577638, 0.63511887, 0.27856765,
       0.34120893, 0.31964841, 0.42901322, 0.88590895, 0.95642099,
       0.81661596, 0.72790701, 0.95024206, 0.88601555, 0.88574769,
       0.86806328, 0.28754623, 0.74320362, 0.10886816, 0.83874147,
       0.65212396, 0.79151934, 0.88577638, 0.68044965, 0.61183012,
       0.88573122, 0.8705084 , 0.34794248, 0.25701735, 0.86397631,
       0.9083006 , 0.79381123, 0.7808177 , 0.34794248, 0.86255816,
       0.14321114, 0.91285798, 0.65212396])

In [26]:
input['y_pred_prob'].values[0][1]
# [input.index, input[target_col].values]

0.11424572037838686

In [27]:
# [x[y] for x in input['y_pred_prob'].values for y in input[target_col].values]
cal_scores = 1 - np.array([input['y_pred_prob'].values[x][input[target_col].values[x]] for x in np.arange(input.shape[0])])
cal_scores

array([0.88575428, 0.7909665 , 0.18871182, 0.65208283, 0.3195544 ,
       0.11422362, 0.11349758, 0.21908685, 0.15466889, 0.66876639,
       0.88576227, 0.24582578, 0.10437475, 0.20618877, 0.43904445,
       0.1610342 , 0.10481806, 0.20820465, 0.60340291, 0.11422362,
       0.11422362, 0.11432807, 0.11185012, 0.11431395, 0.72784266,
       0.16895871, 0.09999341, 0.22292823, 0.11513543, 0.16125853,
       0.62451575, 0.29330715, 0.11424102, 0.34387537, 0.11422362,
       0.55722222, 0.09098679, 0.11424102, 0.65312301, 0.16513365,
       0.13769498, 0.70162909, 0.11433654, 0.37702319, 0.1360226 ,
       0.11422362, 0.23220631, 0.1009766 , 0.5750015 , 0.2960898 ,
       0.2090335 , 0.12989015, 0.71143659, 0.85685673, 0.11424572,
       0.1133181 , 0.34641692, 0.24350125, 0.127995  , 0.11424102,
       0.13602479, 0.65299662, 0.11433607, 0.55830922, 0.35462559,
       0.50676548, 0.21908685, 0.11423773, 0.18552382, 0.7485048 ,
       0.09093605, 0.11424572, 0.08891495, 0.50676548, 0.89113184,
       0.36210801, 0.6296813 , 0.11424102, 0.55968436, 0.11428007,
       0.36428883, 0.11424102, 0.2020096 , 0.11418036, 0.31957361,
       0.68068813, 0.13113166, 0.11424102, 0.64934121, 0.20857273,
       0.47532848, 0.77518383, 0.16125853, 0.34811968, 0.11428619,
       0.90830718, 0.13113166, 0.20857273, 0.11425466, 0.11422362,
       0.15410087, 0.24769205, 0.28869036, 0.2090335 , 0.79142727,
       0.21097693, 0.11425466, 0.11422362, 0.36488113, 0.72143235,
       0.65879107, 0.68035159, 0.57098678, 0.11409105, 0.04357901,
       0.18338404, 0.27209299, 0.04975794, 0.11398445, 0.11425231,
       0.13193672, 0.71245377, 0.25679638, 0.89113184, 0.16125853,
       0.34787604, 0.20848066, 0.11422362, 0.31955035, 0.38816988,
       0.11426878, 0.1294916 , 0.65205752, 0.74298265, 0.13602369,
       0.0916994 , 0.20618877, 0.2191823 , 0.65205752, 0.13744184,
       0.85678886, 0.08714202, 0.34787604])

In [28]:
q_hat = np.percentile(cal_scores, q=90)
q_hat

0.7122503362764854

In [29]:
values = input_test['y_pred_prob'].iloc[0]

In [30]:
bools = input_test['y_pred_prob'].iloc[0]>=(1-q_hat)

In [31]:
for i in zip(values, bools):
    print(i)

(0.7113096444622864, True)
(0.2886903555377136, True)

In [32]:
result = [value for value, boolean in zip(values, bools) if boolean]
result

[0.7113096444622864, 0.2886903555377136]

In [33]:
for i, j in input_test['y_pred_prob'].items():
    print(input_test['y_pred_prob'][i])

[0.7113096444622864, 0.2886903555377136]
[0.8859380699703069, 0.11406193002969314]
[0.7914272703832793, 0.20857272961672066]
[0.8857312241844413, 0.11426877581555873]
[0.10429077383409846, 0.8957092261659015]
[0.21861003751401653, 0.7813899624859835]
[0.8649903185616774, 0.1350096814383226]
[0.8857453379350458, 0.11425466206495417]
[0.20381401660522147, 0.7961859833947785]
[0.9082262321173683, 0.09177376788263165]
[0.7914272703832793, 0.20857272961672066]
[0.7914272703832793, 0.20857272961672066]
[0.7115615845372569, 0.2884384154627431]
[0.8858455019090667, 0.11415449809093331]
[0.3711804411959213, 0.6288195588040787]
[0.3195513696140212, 0.6804486303859788]
[0.8310412858838117, 0.1689587141161883]
[0.42277124277011124, 0.5772287572298888]
[0.145542318766674, 0.854457681233326]
[0.8404785888114745, 0.1595214111885255]
[0.7890230735706586, 0.21097692642934138]
[0.7914272703832793, 0.20857272961672066]
[0.7914272703832793, 0.20857272961672066]
[0.8866819009986863, 0.11331809900131373]
[0.34893476422985137, 0.6510652357701486]
[0.6839217134672049, 0.3160782865327952]
[0.8857589760208997, 0.11424102397910031]
[0.8857589760208997, 0.11424102397910031]
[0.6529966234659056, 0.3470033765340944]
[0.7174217229066836, 0.2825782770933164]
[0.13593233557046347, 0.8640676644295365]
[0.9090639478080299, 0.09093605219197005]
[0.8857622724314935, 0.11423772756850653]
[0.6918981462680556, 0.3081018537319445]
[0.8996143354734972, 0.10038566452650276]
[0.21908684700617065, 0.7809131529938294]
[0.7115615845372569, 0.2884384154627431]
[0.8639774009579275, 0.13602259904207248]
[0.24438080434480292, 0.7556191956551971]
[0.8742753405380516, 0.12572465946194844]
[0.8859399526814229, 0.11406004731857705]
[0.8857589760208997, 0.11424102397910031]
[0.23220630748520543, 0.7677936925147946]
[0.812487202831931, 0.18751279716806898]
[0.8857476863157913, 0.11425231368420875]
[0.791150895987506, 0.20884910401249404]
[0.8857763828417616, 0.11422361715823835]
[0.12906238138368586, 0.8709376186163141]
[0.88650242221389, 0.11349757778611008]
[0.8856719298485478, 0.11432807015145222]
[0.8387421048988322, 0.16125789510116778]
[0.13530878107448208, 0.8646912189255179]
[0.8857453379350458, 0.11425466206495417]
[0.1579138770918399, 0.8420861229081601]
[0.5608112887782396, 0.4391887112217604]
[0.31955440192257967, 0.6804455980774203]
[0.8920634462094807, 0.10793655379051928]
[0.885811652225708, 0.11418834777429193]
[0.8859399526814229, 0.11406004731857705]
[0.8857542796216131, 0.11424572037838686]
[0.21861003751401653, 0.7813899624859835]
[0.8387414711375994, 0.16125852886240055]
[0.2047781324114638, 0.7952218675885362]
[0.8857425153064002, 0.11425748469359974]
[0.8639774009579275, 0.13602259904207248]
[0.3655622175047599, 0.6344377824952401]
[0.8639757620599199, 0.13602423794008012]
[0.1319367231351679, 0.8680632768648321]
[0.277750472527438, 0.722249527472562]
[0.15482941434050745, 0.8451705856594925]
[0.6529966234659056, 0.3470033765340944]
[0.8891979613050298, 0.1108020386949702]
[0.8856634570420184, 0.11433654295798155]
[0.8856860499776071, 0.11431395002239289]
[0.3642748253963428, 0.6357251746036572]
[0.9392615158639819, 0.060738484136018143]
[0.8888815496793624, 0.11111845032063761]
[0.5716618874294377, 0.4283381125705623]
[0.8639774009579275, 0.13602259904207248]
[0.7938112295275763, 0.20618877047242373]
[0.7763047681198544, 0.22369523188014565]
[0.5583630828733024, 0.4416369171266976]
[0.8857589760208997, 0.11424102397910031]
[0.7914272703832793, 0.20857272961672066]
[0.12165502656040716, 0.8783449734395928]
[0.36458168271096525, 0.6354183172890348]
[0.8387421048988322, 0.16125789510116778]
[0.39957214525819973, 0.6004278547418003]
[0.7914272703832793, 0.20857272961672066]
[0.2450509696209272, 0.7549490303790728]
[0.6791204916811295, 0.3208795083188704]
[0.82293971214645, 0.17706028785355002]
[0.88565498368864, 0.11434501631135993]
[0.8857453379350458, 0.11425466206495417]
[0.645374411755982, 0.354625588244018]
[0.3643469624828758, 0.6356530375171242]
[0.7914272703832793, 0.20857272961672066]
[0.15426090674278825, 0.8457390932572117]
[0.8857580390123554, 0.11424196098764465]
[0.8875811516513009, 0.1124188483486991]
[0.7909664966973815, 0.2090335033026185]
[0.5551924904282065, 0.4448075095717935]
[0.8857763828417616, 0.11422361715823835]
[0.645374411755982, 0.354625588244018]
[0.3643857205986083, 0.6356142794013917]
[0.7489212896327726, 0.2510787103672274]
[0.8855956549012687, 0.11440434509873132]
[0.929398247111207, 0.07060175288879297]
[0.14548817201609865, 0.8545118279839014]
[0.8858455019090667, 0.11415449809093331]
[0.645374411755982, 0.354625588244018]
[0.3395624199702233, 0.6604375800297767]
[0.9502420566617504, 0.04975794333824961]
[0.8638724779399507, 0.13612752206004927]
[0.8911318415160622, 0.10886815848393783]
[0.6756723089132797, 0.3243276910867204]
[0.8639774009579275, 0.13602259904207248]
[0.331232591783042, 0.668767408216958]
[0.813208507625881, 0.186791492374119]
[0.8387421048988322, 0.16125789510116778]
[0.8857542796216131, 0.11424572037838686]
[0.885804599107919, 0.11419540089208102]
[0.10151845218261324, 0.8984815478173868]
[0.8858455019090667, 0.11415449809093331]
[0.8857763828417616, 0.11422361715823835]
[0.8911318415160622, 0.10886815848393783]
[0.5580891093708854, 0.4419108906291146]
[0.8857622724314935, 0.11423772756850653]
[0.7909664966973815, 0.2090335033026185]
[0.08551375488492297, 0.914486245115077]
[0.838622605350046, 0.16137739464995401]
[0.8858455019090667, 0.11415449809093331]
[0.8857199320906376, 0.11428006790936236]
[0.9791392924814275, 0.02086070751857253]
[0.8388426663625675, 0.16115733363743248]
[0.7758982156202969, 0.22410178437970307]
[0.11305686156463945, 0.8869431384353605]
[0.9440763234522752, 0.05592367654772476]
[0.8857453379350458, 0.11425466206495417]
[0.30668262404737057, 0.6933173759526294]
[0.11147489539848332, 0.8885251046015167]
[0.2666823276912118, 0.7333176723087882]
[0.33878100022012403, 0.661218999779876]
[0.15566860984097997, 0.84433139015902]
[0.6521239630512715, 0.3478760369487285]
[0.2168609978560081, 0.7831390021439919]
[0.8387421048988322, 0.16125789510116778]
[0.9272374568533139, 0.0727625431466861]
[0.8287576864761875, 0.17124231352381247]
[0.12165502656040716, 0.8783449734395928]
[0.7763047681198544, 0.22369523188014565]
[0.7914272703832793, 0.20857272961672066]
[0.21908684700617065, 0.7809131529938294]
[0.19410424624608602, 0.805895753753914]
[0.6581596007734416, 0.34184039922655846]
[0.8859399526814229, 0.11406004731857705]
[0.8986920677568971, 0.10130793224310285]
[0.8857589760208997, 0.11424102397910031]
[0.13990050838802415, 0.8600994916119759]
[0.646650042296403, 0.35334995770359695]
[0.8858835723540108, 0.1141164276459892]
[0.19588028322252748, 0.8041197167774725]
[0.27774953255056345, 0.7222504674494366]
[0.8859789311182442, 0.11402106888175581]
[0.8857589760208997, 0.11424102397910031]
[0.8857589760208997, 0.11424102397910031]
[0.08125344337689555, 0.9187465566231044]
[0.2025496667067901, 0.7974503332932099]
[0.8857589760208997, 0.11424102397910031]
[0.3650556607501644, 0.6349443392498356]
[0.7909664966973815, 0.2090335033026185]
[0.8856634570420184, 0.11433654295798155]
[0.2138817590186176, 0.7861182409813824]
[0.7914272703832793, 0.20857272961672066]
[0.12214115086618038, 0.8778588491338196]
[0.37239141711679713, 0.6276085828832029]
[0.558171651813739, 0.4418283481862611]
[0.8639774009579275, 0.13602259904207248]

### **MAUQ Quantify Uncertainty API**

In [34]:
with open('url.yaml', 'r') as file:
    url_dict = yaml.safe_load(file)

In [35]:
user_value = 0.9
output_type = 'data'  # 'data', 'estimate'

In [36]:
api_json = {
    'data': input.values.tolist(),
    'test': input_test.values.tolist(),
    'problem_type': 'classification', 
    'confidence_level': user_value,
    'output_type': output_type
}

In [37]:
# URL to our MAUQ AWS service
protocol = url_dict['protocol']  # protocol not sybil_protocol
host = url_dict['host']
port = url_dict['port']
endpoint = 'quantify-uncertainty'

url = '%s://%s:%s/%s' % (protocol, host, str(port), endpoint)

In [38]:
%%time
response = requests.post(url, json=api_json)
print(response)
print()

<Response [200]>

CPU times: user 38.3 ms, sys: 3.21 ms, total: 41.5 ms
Wall time: 224 ms

In [39]:
uncertainty_json_out = response.json()
uncertainty_cols = list(input_test.columns) + ['prediction_set']
uncertainty_df = pd.DataFrame(uncertainty_json_out['output'], columns=uncertainty_cols)

In [40]:
uncertainty_df #TODO: display pred_set in original labels format, get rid of y_pred_prob

,Pclass,Sex,SibSp,Parch,Fare,Embarked,Survived,y_pred_prob,prediction_set
0,1,1.0,1,0,52.0000,2.0,1,"[0.7113096444622864, 0.2886903555377136]","[0, 1]"
1,3,1.0,0,0,9.4833,2.0,0,"[0.8859380699703069, 0.11406193002969314]",[0]
2,2,1.0,0,0,13.0000,2.0,0,"[0.7914272703832793, 0.20857272961672066]",[0]
3,3,1.0,0,0,7.6500,2.0,0,"[0.8857312241844413, 0.11426877581555873]",[0]
4,1,0.0,0,0,227.5250,0.0,1,"[0.10429077383409846, 0.8957092261659015]",[1]
...,...,...,...,...,...,...,...,...,...
173,2,1.0,0,0,13.0000,2.0,0,"[0.7914272703832793, 0.20857272961672066]",[0]
174,1,0.0,0,0,30.0000,2.0,1,"[0.12214115086618038, 0.8778588491338196]",[1]
175,3,0.0,1,2,23.4500,2.0,0,"[0.37239141711679713, 0.6276085828832029]","[0, 1]"
176,1,1.0,0,0,30.0000,0.0,1,"[0.558171651813739, 0.4418283481862611]","[0, 1]"
177,3,1.0,0,0,7.7500,1.0,0,"[0.8639774009579275, 0.13602259904207248]",[0]

In [41]:
uncertainty_df['prediction_set'].value_counts()

[0]       103
[0, 1]     38
[1]        37
Name: prediction_set, dtype: int64